/* .3-12-2025 Wednesday */
.circle{
    height: 75px;
    width: 75px;
    border-radius: 15px;
    background-color: blueviolet;
    margin-top: 15px;
    position: relative;
}
.noti{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: red;
    border: 4px solid white;
    color: white;
    text-align: center;
    position: absolute;
    top: 10px;
    right: -8px;
}
.container{
    position: relative;
    height: 100px;
}
.container{
    height:200vh;
}