.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  padding: 20px 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
