body {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

a {
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

a:hover {
    color: black;
    text-decoration: underline;
    transform: scale(1.2);
}

table {
    width: 100%;
    border-collapse: collapse; 
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.container {
    border: 2px solid #000;
    padding: 10px;
    box-shadow: 5px 10px 18px 5px #888;
}

#unique-section {
    background-color: #f2f2f2;
    padding: 15px;
    margin-top: 20px;
}

@media (max-width: 600px) {

    body {
        margin: 10px;
        background-image: linear-gradient(to left, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    }

    .navbar {
        grid-template-columns: 1fr; 
        text-align: center;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 6px;
    }
}